*{
margin: 0;
padding:0;
font-family:Verdana, Geneva, Tahoma, sans-serif;
box-sizing:border-box;
}
main{
 width: 100%;
 height: 100vh;
 background:linear-gradient(to bottom right,#1C3D67,#617895);
display: flex;
flex-direction:column;
align-items: center;
padding: 10px;
}
article{
    background-color:#fff;
    border-radius: 10px;
    max-width: 60%;
    width: 100%;
    padding: 25px 30px 15px;
    margin: 100px auto 20px;
    
    /* auto to be center  */
    min-height: 250px;
    
}

h2 i{
    color :#eccf2c;
    margin-bottom: 20px;
    margin-right: 8px;
}
.row{
width: 100%;
display: flex;
align-items:center;
justify-content: space-between;
border-radius: 30px;
background-color: beige;
padding: 10px;
margin-bottom: 10px;


}
ul {
    margin-bottom: 30px;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px ;
    font-size:17px;
    user-select:none;
    cursor: pointer;
   position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    min-height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../assets/images/unchecked.png');
    background-size: cover;
    
    background-position: center;
    top:12px;
    left:8px;
    
}
ul li.checked{
    color:#555;
    text-decoration: line-through;

}
ul li.checked::before{

    background-image: url('../assets/images/checked.png');
}

input{
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
    width: 100rem;
}
button{
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;

}
button i{
    color :#eccf2c;
    font-size: 40px;
   cursor:pointer;
}
ul li span{
    position: absolute;
    right:0 ;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
    
}

@media only screen and (max-width: 600px) {
    article{
       
        max-width: 100%;
     
        
    }
  }